{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Danh mục nguồn lỗ hổng ATTT
{% endblock title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
{% endblock breadcrumb_title %}

{% block page_title %}
Danh mục nguồn lỗ hổng ATTT
{% endblock page_title %}

{% block main_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="p-2">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <!-- <a class="btn btn-soft-primary float-end ms-1" href="{% url 'add_file' current_project.slug %}" data-toggle="tooltip" data-placement="top" title="Add New File">Add New File</a> -->
            <a class="btn btn-soft-primary float-end ms-1" href="{% url 'themnguonlohong' current_project.slug %}" data-toggle="tooltip" data-placement="top" title="Add New File">Nhập nhiều</a>
            <a class="btn btn-soft-primary float-end ms-1" href="{% url 'themnguonlohong' current_project.slug %}" data-toggle="tooltip" data-placement="top" title="Add New File">Thêm mới</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <table id="file_table" class="table dt-responsive w-100">
        <thead>
          <tr>
            <th class="text-center">TT</th>
            <th class="text-center">Tên nguồn lỗ hổng</th>
            <th class="text-center">Ký hiệu</th>
            <th class="text-center">Mô tả</th>
            <th class="text-center">Đường dẫn</th>
            <th class="text-center">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          {% for nguonLoHong in nguonLoHongs.all %}
          <tr>
            <!-- <td class="text-center">{{ file.name }}</td> -->
            <!-- <td class="text-center">{{ file.short_name }}</td> -->
            <td class="text-center">{{ nguonLoHong.id }}</td>
            <td class="text-center">{{ nguonLoHong.ten_nguon }}</td>
            <td class="text-center">{{ nguonLoHong.ky_hieu }}</td>
            <td class="text-center">{{ nguonLoHong.mo_ta }}</td>
            <td class="text-center">{{ nguonLoHong.duong_dan }}</td>
            <!-- <td class="text-center" id="{{file.id}}">
              <div class="progress progress-md mt-1">
                <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </td> -->
            <td class="text-center">
              <!-- <a onclick="scan_api({{ file.id }}, '{{ file.name }}', 'file')" class="btn btn-soft-primary" href="#" data-toggle="tooltip" data-placement="top" title="Scan File Upload">
                Scan
              </a> -->
              <a class="btn btn-soft-danger text-danger" onclick="xoanguonlohong({{ nguonLoHong.id }})" data-toggle="tooltip" data-placement="top" title="Delete">
                Xóa
              </a>
              <a class="btn btn-soft-warning" href="/recon_note/{{current_project.slug}}/sua/nguonlohong/{{nguonLoHong.id}}" data-toggle="tooltip" data-placement="top" title="Update">
                Sửa
              </a>
              <a class="btn btn-soft-success" href="#" data-toggle="tooltip" data-placement="top" title="Get">
                Xem lỗ hổng
              </a>
              <!-- <a onclick="delete_api({{ file.id }}, '{{ file.name }}', 'file')" class="btn btn-soft-danger text-danger" href="#" data-toggle="tooltip" data-placement="top" title="Delete File Upload">
                Delete
              </a> -->
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script src="{% static 'scanEngine/js/custom_scan_engine.js' %}"></script>
<script src="{% static 'custom/custom.js' %}"></script>
<script src="{% static 'targetApp/js/custom_organization.js' %}"></script>
<script>
$(document).ready(function() {
  var file_table = $('#file_table').DataTable({
    "oLanguage": {
      "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
      "sInfo": "Showing page _PAGE_ of _PAGES_",
      "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
      "sSearchPlaceholder": "Search...",
      "sLengthMenu": "Results :  _MENU_",
    },
    "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center mt-sm-0 mt-3'f><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center'l>>>" +
    "<'table-responsive'tr>" +
    "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
    "lengthMenu": [5, 10, 20, 50],
    "pageLength": 50,
    "initComplete": function(settings, json) {
      $('[data-toggle="tooltip"]').tooltip();
    }
  });
  multiCheck(file_table);
});

function xoanguonlohong(id) {
    const delAPI = "xoa/nguonlohong/"+id;
    console.log(delAPI)
    return fetch(delAPI, {
	            method: 'POST',
                credentials: "same-origin",
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            })
            .then(function (response) {
                return response.json();
            })
            .then(function(data) {
                console.log(data);
                // TODO Look for better way
               return location.reload();
            })
}
</script>
{% endblock page_level_script %}