{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Thêm máy tính kết nối
{% endblock title %}

{% block custom_js_css_link %}
{% endblock custom_js_css_link %}

{% block breadcrumb_title %}
<!-- <li class="breadcrumb-item"><a href="{% url 'file_list' current_project.slug %}">File Upload</a></li>
<li class="breadcrumb-item active">All File Upload</li> -->
{% endblock breadcrumb_title %}

{% block page_title %}
Thêm máy tính kết nối
{% endblock page_title %}

{% block main_content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="p-2">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <h5>Thêm máy tính kết nối</h5>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <a class="btn btn-soft-primary float-end ms-1" data-toggle="tooltip" data-placement="top" title="Nhập nhiều">Nhập nhiều</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form method="POST" action="{% url 'themmaytinhketnoi' current_project.slug %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="phongSelect" class="form-label">Phòng</label>
                {{ form.phong }}
            </div>
            <div class="mb-3">
                <label for="mayTinhTen" class="form-label">Tên máy</label>
                {{ form.ten }}
            </div>
            <div class="mb-3">
                <label for="mayTinhIP" class="form-label">IP</label>
                {{ form.ip }}
            </div>
            <div class="mb-3">
                <label for="mayTinhMAC" class="form-label">MAC</label>
                {{ form.mac }}
            </div>
            <div class="mb-3">
                <label for="mayTinhMoTa" class="form-label">Mô tả</label>
                {{ form.mo_ta }}
            </div>
            <!-- <div class="mb-3">
                <label for="mayTinhKhoa" class="form-label">Key</label>
                {{ form.khoa }}
                <div>
                    <button type="button" class="btn btn-warning me-2">Tạo khoá</button>
                    <button type="submit" class="btn btn-primary">Tải lên</button>
                </div>
            </div> -->
            <!-- <div class="mb-3">
                <label for="mayTinhNgayHetHanKhoa" class="form-label">Ngày hết hạn khóa</label>
                {{ form.ngay_het_han_khoa }}
            </div> -->
            <div class="mb-3">
                <label for="mayTinhChuSoHuu" class="form-label">Chủ sở hữu</label>
                {{ form.chu_so_huu }}
            </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-secondary">Huỷ</button>
                <div>
                    <button type="button" class="btn btn-warning me-2">Xoá thông tin</button>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}


{% block page_level_script %}
<script>
  document.getElementById('phongSelect').addEventListener('change', function () {
      const phongId = this.value;
      const chuSoHuuSelect = document.getElementById('mayTinhChuSoHuu');

      // Clear the existing options
      chuSoHuuSelect.innerHTML = '<option value="">Chọn người quản lý</option>';

      if (phongId) {
        $.ajax({
            url: "{% url 'get_nhanvien_by_phong' %}",  // Đường dẫn tới view xử lý Ajax trong Django
            data: {
                'phong_id': phongId  // Gửi ID bộ phận đến server
            },
            success: function(data) {
                console.log(data);
                // Làm sạch bảng trước khi thêm dữ liệu mới
                data.nhan_vien_list.forEach(nhan_vien => {
                      const option = document.createElement('option');
                      option.value = nhan_vien.id;
                      option.text = nhan_vien.ho_ten;
                      chuSoHuuSelect.appendChild(option);
                  });
            },
            error: function() {
                alert('Không thể tải danh sách nhân viên. Vui lòng thử lại.');
            }
        });
      }
  });
</script>
{% endblock page_level_script %}